# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
crash.log
crash.*.log

# Python
.venv/
__pycache__/
*.pyc

# OS
.DS_Store

# Raw data (lives in S3, not git)
*.xlsx
*.xlsx.bak
data/
.~lock.*
rsa_key.p8
rsa_key.pub
terraform.tfvars
src.zip

# dbt
dbt/logs/
dbt/target/
dbt/dbt_packages/
