project_name             = "remittance-corridor-<AWS_ACCOUNT_ID>"
ingestion_role_name      = "remittance-corridor-ingestion-role-<AWS_ACCOUNT_ID>"
emr_execution_role_name  = "remittance-corridor-emr-execution-role-<AWS_ACCOUNT_ID>"
ecr_repository_name      = "remittance-corridor-ecr-repository-<AWS_ACCOUNT_ID>"
emr_application_name     = "remittance-corridor-emr-application-<AWS_ACCOUNT_ID>"
raw_bucket_name           = "remittance-corridor-raw-data-bucket-<AWS_ACCOUNT_ID>"
curated_bucket_name       = "remittance-corridor-curated-data-bucket-<AWS_ACCOUNT_ID>"
tfstate_bucket_name      = "remittance-corridor-tfstate-<AWS_ACCOUNT_ID>"
tfstate_lock_table_name  = "remittance-corridor-terraform-locks-<AWS_ACCOUNT_ID>"
terraform_state_bucket      = "remittance-corridor-tfstate-<AWS_ACCOUNT_ID>"
terraform_locks_table_name  = "remittance-corridor-terraform-locks-<AWS_ACCOUNT_ID>"
account_id               = "<AWS_ACCOUNT_ID>"
